.nametagwt1Icon {
  position: absolute;
  top: 63px;
  left: 0;
  width: 195px;
  height: 16px;
  object-fit: cover;
}
.back {
  position: absolute;
  top: 0;
  left: 32px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.23em;
  line-height: 250%;
  font-family: var(--font-inder);
  color: var(--color-white);
  text-align: left;
}
.buttonBack {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 882px;
  left: 53px;
  width: 195px;
  height: 88px;
  z-index: 2;
}
.icon {
  position: absolute;
  top: 86px;
  left: 716px;
  border-radius: var(--br-lg);
  width: 645px;
  height: 718px;
  object-fit: cover;
}
.kPop {
  margin-block-start: 0;
  margin-block-end: 0;
}
.web30 {
  margin: 0;
}
.kPopContainer {
  position: absolute;
  top: 145px;
  left: 0;
  line-height: 250%;
}
.ustomizing {
  font-size: var(--font-size-5xl);
}
.customizing {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.23em;
  line-height: 250%;
  font-size: var(--font-size-6xl);
}
.contentsCustomizing {
  position: absolute;
  top: 141px;
  left: 53px;
  width: 1361px;
  height: 804px;
}
.about {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3px;
  font-size: var(--font-size-base);
  font-family: var(--font-inder);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.faq {
  right: 156px;
}
.faq,
.gallery,
.mint,
.roadmap {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3px;
  font-size: var(--font-size-base);
  font-family: var(--font-inder);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.roadmap {
  right: 241px;
}
.gallery {
  right: 379px;
}
.mint {
  right: 505px;
}
.about {
  right: 595px;
}
.iconDiscord,
.iconTwitter {
  text-decoration: none;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.iconTwitter {
  top: 2px;
  right: 0;
  width: 38px;
  height: 38px;
  background-image: url(../../public/icon-twitter@3x.png);
}
.iconDiscord {
  top: 0;
  right: 68px;
  width: 42px;
  height: 40px;
  background-image: url(../../public/icon-discord@3x.png);
}
.iconLogo,
.navbar {
  position: absolute;
  height: 50px;
}
.iconLogo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 60px;
  background-image: url(../../public/d1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.navbar {
  top: 35px;
  right: 43px;
  width: 1365px;
}
.customizng {
  position: relative;
  background-color: var(--color-violet-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-inder);
}
