.nft {
  top: 78px;
  left: 23px;
  letter-spacing: 0.23em;
}
.nft,
.q4Child,
.qNft {
  position: absolute;
}
.q4Child {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-300);
  box-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
  width: 686px;
  height: 56px;
}
.qNft {
  bottom: 70px;
  left: 23px;
  letter-spacing: 0.23em;
  display: inline-block;
  width: 602px;
  height: 24px;
}
.q4 {
  top: 547px;
  left: 7px;
  width: 686px;
  height: 108px;
}
.div1,
.q1,
.q3,
.q4 {
  position: absolute;
}
.q3 {
  top: 407px;
  left: 7px;
  width: 686px;
  height: 108px;
}
.div1,
.q1 {
  left: 23px;
  letter-spacing: 0.23em;
}
.div1 {
  top: 80px;
}
.q1 {
  bottom: 71.76px;
  display: inline-block;
  width: 409.15px;
  height: 24.24px;
}
.character1Icon,
.q11,
.q2 {
  position: absolute;
}
.q11,
.q2 {
  left: 7px;
  width: 686px;
}
.q2 {
  top: 275px;
  height: 110px;
}
.q11 {
  top: 145px;
  height: 108px;
}
.character1Icon {
  top: 223px;
  left: 749px;
  width: 574px;
  height: 597px;
  object-fit: cover;
}
.faq1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.23em;
  line-height: 250%;
}
.contentsFaq {
  position: absolute;
  top: 142px;
  left: 74px;
  width: 1307px;
  height: 802px;
}
.about {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3px;
  font-size: var(--font-size-base);
  font-family: var(--font-inder);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.faq2 {
  right: 156px;
}
.faq2,
.gallery,
.mint,
.roadmap {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3px;
  font-size: var(--font-size-base);
  font-family: var(--font-inder);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.roadmap {
  right: 241px;
}
.gallery {
  right: 379px;
}
.mint {
  right: 505px;
}
.about {
  right: 595px;
}
.iconDiscord,
.iconTwitter {
  text-decoration: none;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.iconTwitter {
  top: 2px;
  right: 0;
  width: 38px;
  height: 38px;
  background-image: url(../../public/icon-twitter@3x.png);
}
.iconDiscord {
  top: 0;
  right: 68px;
  width: 42px;
  height: 40px;
  background-image: url(../../public/icon-discord@3x.png);
}
.iconLogo,
.navbar {
  position: absolute;
  height: 50px;
}
.iconLogo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 60px;
  background-image: url(../../public/d1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.navbar {
  top: 35px;
  right: 43px;
  width: 1365px;
}
.faq {
  position: relative;
  background-color: var(--color-violet-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inder);
}
